<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Car Maintenance</title>
  <!-- <link rel="shortcut icon" href="favicon.ico"> -->
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
  <body>

		<header>

			<!-- <div>
				<nav id="nav">
					<nav id="nav">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/providers">Providers</a></li>
							<li><a href="/families">Families</a></li>
						</ul>
					</nav>
				</div> -->
			
			</header>
  <div class="jumbotron text-center">
    <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
    <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
  </div>
  <h1>Car Maintenance</h1>
  <!-- <h2> </h2> -->

  <h2>Sign in or sign up to track your car's maintence!</h2>

  


  <footer class="footer">
  
    <ul>
      <!-- <li><a href="https://nfpaonline.org/">National Foster Parent Association</a></li> -->
      <li><a href=""></a></li>
      <li></li>
      <li></li>
    </ul>
    
  </footer>
  <script src="main.js"></script>

</body>
</html>
